body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hbox, .vbox {
    display: flex;
    
    gap: 1px;
}

.vbox {
    flex-direction: column;
}


.bit {
    height: 20px;
    width: 20px;
    background-color: rgb(255,255,200);
    cursor:pointer;
}

.dark {
    background-color: rgb(0,0,50);
}